/* The Imported Font Family From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Global Styles For the Home Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home_page_outer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#home_page_inner{
    background-color:#FFC71F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
}

#home_page_inner img{
    width: 35%;
}

@media(max-width: 769px){
    #home_page_inner img{
        width: 50%;
    }
}

#home_page_inner #content_space{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    width: 90%;
}

#home_page_inner #content_space h2{
    font-family: 'Inter', sans-serif;
    color: white;
}

#home_page_inner #content_space p{
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.655);
    text-align: center;
}

#home_page_inner #content_space #home_buttons{
    width: 70%;
}

#home_page_inner #content_space #home_buttons button{
    width: 50%;
    padding: 0.55rem;
    border: none;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
    border: solid 2px white;
}

#home_buttons button a{
    text-decoration: none;
}

