@import "tailwindcss";

/* Global Selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home_page_outer{
    background: #F5F5F5;
}

#home_page_inner{
    background: #000;
}



