/* Imported Font Family from Google Fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global Styles for the Landing Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#home_page_outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#home_page_inner{
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}


#home_page_inner img{
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    color: #333333;
    margin-bottom: 20px;
}

