/* Global styles for the Landing Page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home_page_outer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_page_inner{
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}