/* The Imported Font Family From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Global Styles For the Home Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home_page_outer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#home_page_inner{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #FFC71F;
    padding: 2rem;
    border-radius: 1rem;
}




#home_page_inner img{
    width: 35%;
}

@media(max-width: 768px){
    #home_page_inner img{
        width: 70%;
    }
}


#home_page_inner #content_space{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    
}

#home_page_inner #content_space #home_buttons{
    width: 70%;
}

#home_page_inner #content_space #home_buttons button{
    width: 50%;
    padding: 0.5rem;
    background: transparent;
    border: solid white 2px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

#home_page_inner #content_space #home_buttons button a{
    text-decoration: none;
    color: white;
}    

#home_page_inner #content_space #home_buttons button:hover a{
    color: black;
}

#home_page_inner #content_space #home_buttons button:hover {
    background: white;
}

#home_page_inner #content_space #home_buttons button:active a{
    color: black;
}

#home_page_inner #content_space #home_buttons button:active {
    background: rgba(255, 255, 255, 0.29);
}

